<footer class="footer">
		<div class="footer-limit">

			<div class="footer-item first-item">
				<div>
					<div class="logo">riaj.net</div>
					<div class="moto icon-microchip">A site run by an enthusiast!</div>
				</div>

			</div>

			<div class="footer-item">
				<div class="contact-txt">Contact:</div>
					<a href="https://facebook.com/riajmahmudrasel" class="social-link icon-facebook">Facebook</a>
					<a href="https://twitter.com/riaj_rasel" class="social-link icon-twitter">Twitter</a>
					<a href="https://linkedin.com/in/riajmahmud" class="social-link icon-linkedin">LinkedIn</a>
					<a href="https://wa.me/8801765599164" class="social-link icon-whatsapp">WhatsApp</a>
					<a href="mailto:riajmahmudrasel@gmail.com" class="social-link icon-mail">Mail</a>
			</div>

			<div class="footer-item last-item">Designed with <span class=" icon-heart"></span> by Riaj Mahmud Rasel

			</div>
		</div>

	</footer>
