<div class="sticky_nav" style="">
	<div class="consume-horizontal">
	<div class="limiter">
		<span class="txt-logo-small"><span style="color: #666;">riaj</span><span style="color: #6caf90;">.net</span></span>
		<span class="link-row">
		<a href=""><span class="navi-span bp2 active-span">Home</span></a><a href="resources"><span class="navi-span bp3">Resources</span></a><a href="about"><span class="navi-span bp4">About</span></a></span>
		<span class="navi-span-float icon-menu" onclick="navmenu()"></span>
	</div>
	</div>
	<div class="limiter" id="navmenu" style="display: none;">
		<div class="all-nav-link">
			<a href="/"><div class="nav-small">Home</div></a><a href="/resources"><div class="nav-small">Resources</div></a><a href="/about"><div class="nav-small">About</div></a>		</div>
	</div>


</div>
