{% assign act=include.active %}
<div class="sticky_nav">
	<div class="consume-horizontal" style="position: relative;">
		<div class="limiter">
			<span class="txt-logo-small"><span style="color: #666;">riaj</span><span style="color: #6caf90;">.net</span></span>
			<span class="link-row">
				<a href="/"><span class="navi-span bp2 {% if act == "home" %}active-span{% endif %}">Home</span></a><a href="/posts"><span class="navi-span bp3 {% if act == "posts" %}active-span{% endif %}">Posts</span></a><a href="/about"><span class="navi-span bp4 {% if act == "about" %}active-span{% endif %}">About</span></a>
			</span>
			<span class="navi-span-float icon-menu" onclick="menuMobile()" id="button_m"></span>
		</div>
		<div id="menu_m" class="bs1" style="display: none;position: absolute;top: 100%;margin:auto;max-width: 1024px;">Mobile Menu</div>
	</div>
	<div class="limiter" id="navmenu" style="display: none;">
		<div class="all-nav-link">
			<a href="/"><div class="nav-small">Home</div></a><a href="/resources"><div class="nav-small">Resources</div></a><a href="/about"><div class="nav-small">About</div></a>		</div>
	</div>


</div>


<script>


var menu_m = document.getElementById("menu_m");
var button_m = document.getElementById("button_m");


function menuMobile()
{


    if(menu_m.style.display!="block"){menu_m.style.display="block";}
    else{menu_m.style.display="none";}
    button_m.classList.toggle("icon-menu");
    button_m.classList.toggle("expand");
}


/*

window.addEventListener('click', function(e){   
    if(button_m.contains(e.target))
  {      console.log("mobile btn pressed!");
      //if(menu_p.style.display=="block"){menuPro();}
  }

  else if(!(menu_d.contains(e.target) || menu_p.contains(e.target) || menu_m.contains(e.target)))
  {
    console.log("external click pressed!");
    if(menu_d.style.display=="block"){menuDesk();}
    if(menu_p.style.display=="block"){menuPro();}
    if(menu_m.style.display=="block"){menuMobile();}
  }
});
 */
</script>
