
*{border: 0px solid red;}
/******************* Primary Container post.php--Row 3  
    primary-container
        main________________
            post____________
                post-banner
                post-title
                post-body
                post-performance
                make-comment
                show-comment
        right-panel


*/
.primary-container{margin:0px;width: 100%;} /* no bg */
    .main{ max-width: 1024px; height:auto;margin:auto;}

        .profile { background:#fff6e2; /*  #ffd1ce;  */ padding: 10px; }
            .profile-limit{max-width: 1024px;margin: auto;}
                .profile-set
                {
                    display: grid;
                    grid-template-columns: 100%;
                }
                    .profile-details
                    {
                        background: #fff;
                        padding: 20px;
                        position: relative;
                    }
                        .pro-de-set
                       { 
                            padding-bottom: 10px;
                       }


                        .pro-de-name
                        {
                            font-size: 2em;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #111;
                            padding: 0px 10px 10px 10px;
                            word-wrap: break-word;
                        }
                        .pro-de-activity
                        {
                            text-align: left;
                            color: #333;
                            padding: 10px;
                            word-wrap: break-word;
                        }

                        .pro-de-summery
                        {
                            font-size: 18px;
                            text-align: left;
                            color: #333;
                            padding: 8px;
                            word-wrap: break-word;
                        }
                    .profile-cover
                    {
                        padding: 20px;
                        padding-bottom: 0px;

                    }
                        .pro-cover-image
                        {
                            /* position: absolute; */
                            text-align: center;
                            margin: auto;
                            border-bottom: 5px solid #0174aa;
                            padding: 0px;
                        }
                            .pro-cover-img
                            {
                                max-height: 40vw;
                                border: 0px solid red;
                               
                            }




        .activity {/*  #fff6e2;   #ffd1ce; */  padding: 10px; }
        .activity-limit{max-width: 1024px;margin: auto;}
            .activity-set
            {
                display: grid;
                grid-template-columns: 100%;
            }
                .activity-details
                {
                    background: #fff;
                    padding: 20px;
                    display: flex;
						  align-items: center;
						  position: relative;
                }
                    .act-de-set
                    { 
                        padding-bottom: 10px;
                    }

                    .act-de-title
                    {
                        font-size: 2em;
                        letter-spacing: 0px;
                        color: #ac1f25;
                        text-align: left;
                        padding: 0px 10px 10px 10px;
                        word-wrap: break-word;
                    }
                    .act-de-inst
                    {
                        font-size: 1.2em;
                        text-align: left;
                        padding: 10px;
                        word-wrap: break-word;
                    }  .buetlink{  color: #ac1f25;}

                    .act-de-summery
                    {
                        font-size: 18px;
                        text-align: left;
                        color: #333;
                        padding: 10px;
                        word-wrap: break-word;
                    }
                .activity-cover
                {
                    padding: 20px;

                }
                    .act-cover-image
                    {
                        /* position: absolute; */
                        text-align: center;
                        margin: auto;
                        padding: 0px;
                    }
                        .act-cover-img
                        {
									 width: 100%;
									 max-width: 200px;
                            border: 0px solid red;
                            
                        }


    .section-label{font-size: 2em;letter-spacing: 1px;color: #333; margin-top:40px; padding:20px;text-align: center;}

    .posts-set{ display: grid; grid-template-columns: 100%; gap: 20px; padding: 10px 10px; justify-content: space-around;}
        .card-link{display: block;width: 100%;cursor:pointer;}
        .card-link:hover{box-shadow: 0 4px 10px 0 rgba(0,0,0,.2); transition: all .2s;}
            
            .card-base{display: grid; grid-row-gap: 20px; grid-template-columns: 45% 55%; padding: 20px 10px; }
        .content-image{background: #fdfdff;margin: auto;text-align:center;}
            .content-img{width:90%; max-width: 160px;}
                
                .type-text{font-size:12px;color:#666;text-align: center;}
                .main-text{font-size:18px;color:#222; text-align: center;}
            .main-text{word-wrap: break-word;}
            
.promo {background: #fff6e2;}
  .promo-limit {max-width: 1024px;height: 300px;margin: auto;border: 0px solid red;display: flex; align-items: center;}
        .notice{font-size: 30px; letter-spacing: 2px; text-align: center;margin: auto;}

    .see-more{text-align: center;padding: 40px 0px;}
		  .ext-link{font-size: 22px;border: 0px solid red;padding: 10px;font-weight: bold; color: #222;}
		  .ext-link:hover {text-decoration: underline;}



@media only screen and (min-width: 560px)
{

.posts-set{ grid-template-columns: 50% 50%;  padding: 10px 20px;}
.card-link{padding: 10px;}
.card-base{ grid-template-columns: auto ;padding: 20px; }
.featured-post { padding: 20px; }
}



@media only screen and (min-width: 660px)
{
.posts-set{padding: 20px 20px; grid-gap: 12px;}

}


@media only screen and (min-width: 720px)

{
.featured-post { padding: 30px; }

.profile-set{	display: grid; grid-template-columns: 50% 50%; }
.profile-details{ grid-area: 1/1/2/2;}
.profile-cover{grid-area: 1/2/2/3;}
.pro-de-set{  position: absolute; bottom: 0px;}

.activity{padding: 30px;}
.activity-set{	grid-template-columns: 40% 60%; }
.activity-details{ grid-area: 1/2/2/3;} 
.activity-cover{grid-area:  1/1/2/2;}
.act-de-set{  }



.as2{	 grid-template-columns: 60% 40%; }
.ac2{ grid-area: 1/2/2/3;} 

.ad2{grid-area:  1/1/2/2;}


}



@media only screen and (min-width: 768px)

{
.txt-logo{ letter-spacing: 1px; font-size:28px;}
.navi-span{font-size: 20px; }
.bp3{display: inline-block;}
.primary-container{margin-top:30px;}
.posts-set{padding: 20px 35px;grid-gap: 25px;}
}






/*  OVER WRITTEN   */


.bg1{background:transparent;}
.bg2{background:#eec15a;}
.bg3{background:#ffa791;}
.bg4{background: #f8f3f2; /* #e1e3b9; */}
.bg5{background:#70cfbe;}

.bg6{background:#ffefe1;}

.bg7{background:#e8eddf;}
.bg8{background:#dce1c5;}
