* {font-family: "Segoe UI";}

a {text-decoration:none;color:#2a7ae2;}
a:visited{color:#1756a9;}
a:hover{color:#111;text-decoration:underline;}


	/******************* Top Intro--Row 1  */
	.top-intro{display: none; padding: 8px 12px;border: 0px solid #ccc;background: #fafafa;}
	.txt-logo {font-size: 24px;font-weight: bold;transition:  all .8s;}

.sticky_nav{border: 0px solid #ddd;background: transparent; position: sticky; top: 0px;overflow: hidden; padding:0px; z-index: 2;}
.consume-horizontal{background: #eaf1f1;}
	.limiter{margin:auto;max-width:1024px;border: 0px solid red;overflow: hidden;}
  	.txt-logo-small{font-size: 24px;font-weight: bold;transition:  all .8s;padding: 10px 12px;background: #eee;}
	.link-row{display: none;}
  	.navi-span{padding: 8px 16px;font-size: 18px;  letter-spacing: 2px;cursor: pointer; color: black;}
	.navi-span:hover{background: #456688; color: white;}
	.active-span{background: #6b96c4; color: white;}
	/*.heading-float-right{float: right; padding: 0px 8px;font-size: 20px; border: 0px solid #ddd; cursor: pointer; letter-spacing: 4px;}
	.heading-float-right:hover{background: #ccc;} */
	.bp1, .bp2, .bp3, .bp4, .bp5, .bp5 { display: none; }
	.navi-span-float{float: right; padding: 8px 16px;cursor: pointer;}
	.navi-span-float:hover{background: #456688; color: white;}

	.all-nav-link {background: #eaf1f1;}
	.nav-small{font-size: 20px;text-align: center; padding-top: 10px;padding-bottom: 10px;border-bottom: 2px solid #ccddff;}
	.nav-small:hover{background:#456688;color: white;}

	
	/*  FOOTER */


	.footer
	{
		background:#2d3b46;
	}

.footer-limit{
	margin-top:30px;padding:20px;
	display:grid;grid-gap: 15px;
	grid-template-columns: auto;
	max-width: 1024px;
	margin:auto;
}

.footer-item{border:0px solid #444;text-align: center;border-radius:4px;}
.social-link{display:block;padding:5px;color: #c3c1c4;font-size:16px;}
.social-link:hover{color: white;text-decoration: underline;}
.last-item{color:#fafafa; text-align: center;padding:20px 10px;}

.first-item{display:flex;justify-content: center;align-items: center;flex-wrap: wrap;padding:20px 0px 0px 0px;}

.logo{font-size:26px;color: white;width:100%;}
.moto{font-size:20px; color:white;width:100%;}

.contact-txt{font-size:22px;color: white;margin:20px 0px;}
	
	
	
.expand:after {content:'\e816'; font-family: fontello;width: 1em; padding: 0px 5px;}
.bs1 {box-shadow: 1px 5px 10px 1px rgba(51,51,51,0.52);}


	@media only screen and (min-width: 360px)

	{
		
		.top-intro{display: block;}
		.bp1, .bp2{display: inline-block;}
		.txt-logo-small{display: none;}
		.link-row{display: inline-block;}

	}

	@media only screen and (min-width: 420px)

	{
		
		.txt-logo{ letter-spacing: 1px; font-size:26px;}
		.top-single{width: 50%;}
		.bp3{display: inline-block;}
		

	}
		@media only screen and (min-width: 600px)

	{
		
		.bp4{display: inline-block;}
		.navi-span-float{display: none;}

	}


	@media only screen and (min-width: 720px)

	{
		
		.txt-logo{ letter-spacing: 1px; font-size:28px;}
		.navi-span{font-size: 20px; }
		.bp5{display: inline-block;}

	}

		@media only screen and (min-width: 810px)

	{
		.bp6{display: inline-block;}

  		.footer{ grid-template-columns: auto auto }
  		.last-item{ grid-column: 1/3 }

	}




	/*  OVER WRITTEN   */


	
	.bgcol2{background:#eec15a;}
	.bgcol3{background:#ffa791;}
