<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
       <link rel="stylesheet" href="https://riajmahmud.github.io/assets/main.css">
       <link rel="stylesheet" href="https://riajmahmud.github.io/assets/about.css">
       <link rel="stylesheet" href="https://riajmahmud.github.io/assets/fontello.css">
  </head>
  <body>
    {% include top_intro.html %}
    {% include navbar.html %}
    <div style="margin: auto;max-width: 1024px;">
      {{ content }}
    </div>
    {% include footer.html content="" %}
  </body>
</html>
