<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>_x_ {{ page.title }} _x_</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>_x_{{ page.title }}_x_</h1>
    <section> _x_
      {{ content }}
      _x_
    </section>
    <footer style="border: 1px solid #ccc;">
      &copy; to me
      <p style="color: #ddd;">On every Page</p>
    </footer>
  </body>
</html>
