<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>_x_1 {{ page.title }} _x_2</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>_x_1{{ page.title }}_x_2</h1>
    <section> _x_1
      {{ content }}
      _x_2
    </section>
    <footer style="border: 1px solid #ccc;">
    {% include footer.html %}
      <p style="color: #ddd;">Footer On every Page</p>
    </footer>
  </body>
</html>
